//
   Created by lsc on 2014/11/28.
doctype html
html
    head(lang="zh")
        title('demo')
        meta(charset="utf-8")
        link(rel="stylesheet",href="css/base.css")
        script(src="js/plugin/require.js",data-main="main")
        script(src="js/plugin/requirejs-config.js",type="text/javascript")
    body
        div.wrapper
            div.header
                ul#header
            div.inner-content
            div.footer